---
layout: default
---
<div class="sec section-padding content-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <section class="table-of-content">
                    <div class="menu-scroll">
                        <div class="toc"></div>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-7">
                <div class="layout-content">
                    <div class="content">{{content}}</div>
                </div>
            </div>
        </div>
    </div>
</div>